.features {
  background-color: #181f2b;

  .feature-grid {
    max-width: 850px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;

    @include breakpoint(medium) {
      gap: 9vh 8vw;
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
      gap: 7vh 9vw;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .feature {
    text-align: center;
    margin-bottom: 70px;
    @include breakpoint(large) {
      margin-bottom: none;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      margin-bottom: 30px;

      img {
        height: 100%;
        width: auto;
        @include breakpoint-down(small) {
          height: 90%;
        }
      }
    }

    &-title {
      font-family: $font-title;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 16px;
    }
    &-description {
      font-size: 1.1rem;
      max-width: 350px;
      line-height: 1.4;
      margin: 0 auto;
      @include breakpoint-down(small) {
        font-size: 0.9rem;
      }
    }
  }
}
