.productive {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

    @include breakpoint(large) {
      grid-template-columns: 4fr 3fr;
      max-width: 1320px;
    }
  }

  &__image {
    text-align: center;

    img {
      width: 100%;
      max-width: 615px;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint(large) {
      text-align: left;
    }
    h2 {
      font-size: 1.6em;
      @include breakpoint(large) {
        max-width: 400px;
      }
    }

    a {
      background-image: url(/images/icon-arrow.svg);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 25px;
      color: $ctaCyan;
      border-bottom: 3px solid $ctaCyan;
      transition: all 200ms ease-in-out;

      &:hover {
        color: #fff;
        border-bottom: 3px solid #ffff;
      }
    }
  }
}
