//FONTSSSSSSSSSSSSSSSSSSSSS

$font-title: "Raleway", "sans-serif";
$font-body: "Open Sans", "sans-serif";

//COLORSSSSSSSSSSSSSSSSSSSS

$introBg: #1b2339;
$mainBg: #181f2b;
$footerBg: #0a1425;
$testimonialBg: #20293b;
$ctaCyan: #64e1d9;
$ctaBlue: #329ecc;

//BORDERSSSSSSSSSSSS
$border-radius: 10px;
$border-radius-circle: 30px;

//BREAKPOINTSSSSSSSSSSSSSSS

$breakpoints: (
  small: 499px,
  medium: 899px,
  large: 999px,
  xlarge: 1399px
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
